<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="views/javascript/header.js"></script>
</head>
<body>
    <h1>Esta es la vista del cronograma</h1>
    <div id="cronograma-container">
        <table id="table-cronograma">
            <tr><th>ACTIVIDAD</th><th>TURNO</th><th>FECHA</th><th>AULA</th></tr>
        </table>
    </div>

    <script src="views/javascript/cronograma.js"></script>
</body>
</html>