@extern('header')

    <link rel="stylesheet" href="views/css/cronogramaGuias.css{{PROJECT_MODE}}">

    <div class="loading-screen">
        <h3>Cargando horarios...</h3>
    </div>

    <nav id="header">
        <ul>
            <li><a href="/panel">Inicio</a></li>
            <li><a href="/cronograma">Horarios</a></li>
            <li><a href="/mapa">Mapa</a></li>
        </ul>
    </nav>

    <div id="container">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <h1>Cronograma Guías</h1>
        <div class="sub-title">
            <p>Recorrido curso:</p>
        </div>
        <table class="table-cronograma actual">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Turno</th>
                    <th>Aula</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán las filas del cronograma dinámicamente -->
            </tbody>
        </table>

        <table class="table-cronograma next">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Turno</th>
                    <th>Aula</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán las filas del cronograma dinámicamente -->
            </tbody>
        </table>
    </div>

    <script src="views/javascript/cronogramaGuias.js{{PROJECT_MODE}}"></script>

@extern('footer')
