@extern('header')
    <div id="cronogramaGuias-content">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <h1>Cronograma Guías</h1>
        <div class="sub-title">
            <p>Recorrido curso:</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Curso</th>
                    <th>Horario</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán las filas del cronograma dinámicamente -->
            </tbody>
        </table>
    </div>
    <script src="views/javascript/cronogramaGuias.js"></script>
</body>
</html>
