@extern('header')

    <link rel="stylesheet" href="views/css/cronograma.css{{PROJECT_MODE}}">
    
    <div class="loading-screen">
        <h3>Cargando horarios...</h3>
    </div> 

    <template id="tpl_row_table">
        <tr>
            <td class="tpl-col-pre"></td>
            <td class="tpl-col-act"></td>
            <td class="tpl-col-tur"></td>
            <td class="tpl-col-cat"></td>
            <td class="tpl-col-aul"></td>
            <td class="tpl-col-pis"></td>
        </tr>
    </template>

    <header>
        <div id="header_title"><img src="views/img/logo_sayc.png" id="navbar_logo" alt="logo_sayc">SAyC</div>
        <div id="header_links">
            <a href="landing">Inicio</a>
            <a href="cronograma">Horarios</a>
            <a href="mapa">Mapa</a>
        </div>
	</header>
    
    <div id="container">

        <div class="logo">
            <img src="views/img/logo_sayc.png" alt="Logo">
        </div>

        <h1>Cronograma</h1>

        <div class="filter">
            <select id="select_dia" class="cronograma-select">
                <option value="2024-08-20">Día 1</option>
                <option value="2024-08-21">Día 2</option>
                <!-- Agregar más opciones según los cursos disponibles -->
            </select>
        </div>

        <div class="table-scroll">
            <table id="table-cronograma" border="1">
                <thead>
                    <tr>
                        <th>Presentador</th>
                        <th>Actividad</th>
                        <th>Turno</th>
                        <th>Categoría</th>
                        <th>Aula</th>
                        <th>Piso</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se insertarán las filas del cronograma dinámicamente -->
                </tbody>
            </table>    
        </div>
        
    </div>

    <script type="module" src="views/javascript/cronograma.js{{PROJECT_MODE}}"></script>

@extern('footer')