    <footer>
        <style>
            a{
                text-decoration: none;
            }
        </style>
                
        <div id="footer">
            <div id="logo"><img src="views/img/logo_sayc.png" class="footer_logo" alt="logo_sayc"></div>
            <div id="contacto">
                <a href="https://www.instagram.com/sayc.tortuguitas/">
                <span id="instagram">
                <img width="70" height="70" src="views/img/logo_instagram.svg" class="instagram_logo" alt="logo_instagram">
                @sayc.tortuguitas</span>
                </a>

                <a href="https://www.facebook.com/sayc.com.ar/?locale=es_LA">
                <span id="facebook">
                <img width="50" height="50" src="views/img/logo_facebook.svg" class="facebook_logo" alt="facebook_logo">
                @sayc</span>
                </a>
                <span id="comunidad">Comunidad Educativa “Roberto Arlt”</span>
            </div>
        </div>
    </footer>

    <!-- Cierre de wrapper -->
    </div>

</body>
</html>