
<!-- Cierre de wrapper -->
</div>

<footer>
			
    <div id="footer">
        <div><img src="views/img/logo_sayc.png" class="landing_logo" alt="logo_sayc"></div>
        <div id="contacto">
            <span>
            <img width="70" height="70" src="views/img/logo_instagram.svg" class="instagram_logo" alt="logo_instagram">
            Contacto</span>
            <span>
            <img width="50" height="50" src="views/img/logo_facebook.svg" class="instagram_logo" alt="facebook_logo">
            @sayc.tortuguitas</span>
            <span>Comunidad Educativa “Roberto Arlt”</span>
        </div>
    </div>
</footer>

</body>
</html>