    <footer>
                
        <div id="footer">
            <div id="logo"><img src="views/img/logo_sayc.png" class="footer_logo" alt="logo_sayc"></div>
            <div id="contacto">
                <span id="instagram">
                <img width="70" height="70" src="views/img/logo_instagram.svg" class="instagram_logo" alt="logo_instagram">
                @sayc.tortuguitas</span>
                <span id="facebook">
                <img width="50" height="50" src="views/img/logo_facebook.svg" class="instagram_logo" alt="facebook_logo">
                @sayc.tortuguitas</span>
                <span id="comunidad">Comunidad Educativa “Roberto Arlt”</span>
            </div>
        </div>
    </footer>

    <!-- Cierre de wrapper -->
    </div>

</body>
</html>