<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/css/main.css">
    <script src="views/javascript/header.js"></script>
    <title>SAyC</title>
</head>
<body>
    <nav id="header">
        <ul>
            <li><a href="/panel">Inicio</a></li>
            <li><a href="/cronograma">Horarios</a></li>
            <li><a href="/mapa">Mapa</a></li>
        </ul>
    </nav>