<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sayc</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		
		<header>
            <div class="navbar">
				<div></div>
                <div class="navbar__title"><img src="views/static/img/logo_sayc.png" class="navbar_logo" alt="logo_sayc">SAyC</div>
                <div class="navbar__links">
                    <a href="landing">Inicio</a>
                    <a href="horarios">Horarios</a>
                    <a href="mapa">Mapa</a>
                </div>
            </div>

		</header>

		<div id="landing">
			<img src="views/static/img/logo_sayc.png" class="landing_logo" alt="logo_sayc">
			<h1 class="landing__title">SAyC</h1>
		</div>

		<div id="window">

			<div id="window__descripcion">
				<h2 class="description__title">¿Que es SAyC?</h2>
				<div id="container__description">
					<h3 class="description">La Semana de las Artes y las Ciencias es un evento anual en nuestro colegio donde los alumnos tienen la oportunidad de mostrar sus proyectos y habilidades en diversas modalidades, incluyendo Arte, Sociales, Economía, Informática y Alimentos.</h3>
				</div>
			</div>

			<div id="window__objetivo">
				<h2 class="objective__title">Objetivos</h2>
				<div id="container__description">
					<h3 class="description">El objetivo de la SAyC es demostrar lo aprendido mediante proyectos, actuaciones, talleres, entre otras actividades. Los alumnos, junto con los profesores, organizan y llevan a cabo estas actividades durante tres días.</h3>
				</div>
			</div>
			<div id="window__organizacion">
				<h2 class="organizacion__title">Organización</h2>
				<div id="container__description">
					<h3 class="description">Para garantizar un desarrollo ordenado del evento, se asignan dos guías identificados por un carnet y una remera naranja a cada curso. Se brinda una planilla con horarios y se utiliza todo el espacio disponible en la escuela para albergar las actividades.</h3>
				</div>
			</div>
			<div id="window__aplicacion">
				<h2 class="aplicacion__title">Aplicación SAyC</h2>
			</div>
			
		</div>

		

		<footer>

			<div id="footer">
				<p>sayc@gmail.com</p>
			</div>
			
		</footer>

	</div>
	
</body>
</html>