@extern('header')

	<link rel="stylesheet" href="views/css/landing.css">
	<link rel="stylesheet" href="views/css/login.css">

	<header>
		<div class="navbar">
			<div class="navbar__title"><img src="views/img/logo_sayc.png" class="navbar_logo" alt="logo_sayc">SAyC</div>
			<div class="navbar__links">
				<a href="landing">Inicio</a>
				<a href="cronograma">Horarios</a>
				<a href="mapa">Mapa</a>
			</div>
		</div>

	</header>

	<div id="container">

		<form id="form_login" class="form-login">
			<h1>Iniciar Sesión</h1>
			<div id="msg_error" class="msg-error">
			</div>
			<label for="i_carnet">Carnet</label>
			<input type="number" id="i_carnet" name="carnet" min="0" required>
			<label for="i_dni">DNI</label>
			<input type="number" id="i_dni" name="dni" min="0" required>
			<input type="submit" class="btn-login" value="Iniciar Sesión">
		</form>

	</div>

	<script type="module" src="views/javascript/login.js"></script>

@extern('footer')