<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<form method="post">
		<div id="msg-error">
		</div>
		<label for="carnet">Carnet</label>
		<input type="number" id="carnet" name="ing_carnet" min="0" required>
		<label for="dni">DNI</label>
		<input type="number" id="dni" name="ing_dni" min="0" required>
		<input type="button" id="log" name="btn-login" value="Ingresar">
	</form>
	
</body>
	<script type="module" src="views/javascript/login.js"></script>

</html>
