<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<form>
		<div id="msg_error"></div>
		<label for="carn">Carnet</label>
		<input type="number" id="carn" name="ing_carnet" min="0" required>
		<label for="dni">DNI</label>
		<input type="number" id="dni" name="ing_dni" min="0" required>
		<input type="submit" id="btn-login" value="Ingresar">
	</form>
	<script src="views/js/header.js"></script>
	<script src="views/js/login.js"></script>
</body>
</html>