@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;}

body{
    height: 100%;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header{
    background-color: cornflowerblue;
    height: 100px;
}
footer{
    background-color: forestgreen;
    height: 100px;
    width: 100%;
    bottom: 0;
}
.mapa{
    background-color: #e5ead4;
    flex: max-content;
    height: 100%;
    position: relative;
}
.mapa h2{
    position: relative;
    font-size: 48px;
    left: 75px;
}
.contentMap{
    display: flex;
    height: fit-content;
    align-items: stretch;
    justify-content: space-between;
    padding: 24px;
    position: relative;
}
.botonController{
    background-color: #00000060;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 5px;
}
.maper{
    position: relative;
}
.maper .control .panel{
    position: absolute;
    z-index: 1;
    top: 60px;
    left: -400px;
    transition: 150ms;
}
.botonController div{
    background-color: black;
    width: 60%;
    height: 3px;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    transition: 300ms;
    transform: translateY(-50%);
}
.botonController .bar1{
    top: 25%;
}
.botonController .bar3{
    top: 75%;
}
.controles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 100px 26px 0 26px;
    display: none;
}
.mapController{
    display: grid;
    grid-template-columns: 60px auto;
    justify-items: stretch;
    align-items: center;
    margin: 0 8px;
    padding: 0 16px;
    border-radius: 0 30px 30px 0;
    width: 250px;
    height: 50px;
    border: solid 1px;
    transition: 150ms;
    user-select: none;
    background-color: #00000060;
}
.mapController:hover{
    transform: scale(1.05);
    background-color: #387758;     
    box-shadow: inset 0px 0px 5px 1px #33333379;
    cursor: pointer;     
}
.mapControllerSelect{
    background-color: #6d9c4b;
}
.mapController svg{
    height: 40px;
}
.mapController span{
    color: #dbdbdb;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}
.plantaBajaSpan .piso1,
.piso1Span .piso2,
.piso2Span .piso3,
.tallerSpan .potiMini{
    fill: #888;
}
.map{
    position: relative;
    background-color: burlywood;
    width: 100%;
    height: 700px;
    flex: 1;
    overflow: hidden;
}
.map svg{
    width: 100%;
    height: 100%;
}
#pasillo{
    fill: #868686c9;
}
#escalera{
    fill: rgba(0, 128, 0, 0.726);
}